body{
    background-color:rgb(233, 224, 205);
}
.container{
    Overflow: scroll;
    width: 70vw;
    height: 93vh;
    background-color:rgb(203, 204, 199);
    border: 1px  solid rgb(203, 204, 199);
    margin-left: 29vw;
    margin-top: -95vh;
    border-radius: 5% 5% 5% 5%;
}
.menu{
    border: 1px solid rgb(175, 160, 126);
    background-color: rgb(155, 154, 152);
    width: 25vw;
    margin-top: 5vh;
    height: 94vh;    
    margin-left: 3vw;
    color: white;
    align-items: center;
    font-size: 1.4vw;
    
}
.cuadrito{
    width: 5vw;
    height: 2vh;
    text-decoration: none;
    color: black;
    background-color: greenyellow;
    margin-top: -1vh;
    
}
.barra{
    width: 2vw;
    height: 94.2vh;
    background-color: black;
    margin-left: 21vw;
    margin-top: -74.5vh;
}
.abrigo{
    background-color: aliceblue;
}
.texto1{
    color: white;

    
}
.Abrigos, .Camisetas, .Pantalones, .Carrito, .Tp{
    text-decoration: none;
    color: black;
}

.img1{
    margin-left: 5vw;
    position: relative;
    width: 10vw;

}
.img2{
    margin-left: 5vw;
    position: relative;
}
.img3{
    margin-left: 5vw;
    position: relative;
}
.img4{
    margin-left: 5vw;
    position: relative;
    height: 28vh;
}
.img5{
    top: 11vh;
    margin-left: 5vw;
    position: relative;
}

.textos{
    margin-left:4vw;
}
.producto{
    display: flex;
    
    
}
.productoo{
    display: flex;

    
}
.Ci{
    width: 10vw;
    height: 12vh;
    background-color: beige;
    margin-top: 26vh;
    border-radius: 10px 10px 10px 10px ;
    font-size: 11px;
    position: absolute;
    margin-left: 5vw;

}
.Ci1{
    width: 10.5vw;
    height: 12vh;
    background-color: beige;
    margin-top: 26.8vh;
    font-size: 11px;
    border-radius: 10px 10px 10px 10px ;
    position: absolute;
    margin-left: 20vw;

}
.Ci2{
    width: 10.5vw;
    height: 12vh;
    background-color: beige;
    font-size: 11px;
    margin-top: 27vh;
    z-index: 1;
    border-radius: 10px 10px 10px 10px ;
    position: absolute;
    margin-left: 50.6vw;

}
.Ci3{
    width: 10.6vw;
    height: 12vh;
    background-color: beige;
    margin-top: 27vh;
    font-size: 11px;
    border-radius: 10px 10px 10px 10px ;
    position: absolute;
    margin-left: 35.4vw;

}
.Ci4{
    width: 10.5vw;
    height: 14vh;
    background-color: beige;
    margin-top: 32vh;
    font-size: 11px;
    position: absolute;
    border-radius: 10px 10px 10px 10px ;
    margin-left: 5vw;

}
@media (max-width: 900px) {
    .menu{
     width: 25vw;
     height: 25vh;
    }
    .Ci1{
        margin-top: 6vh;
        width: 10.7vw;
        height: 5vh;
        margin-left: 5vw;
        font-size: 5px;
    }
    .Ci2{
        margin-top: 6vh;
        width: 10.7vw;
        height: 5vh;
        margin-left: 20vw;
        font-size: 5px;
    }
    .Ci3{
        margin-top: 6vh;
        width: 10.7vw;
        height: 5vh;
        margin-left: 35vw;
        font-size: 5px;
    }
    .Ci4{
        margin-top: 11vh;
        width: 10.7vw;
        height: 5vh;
        margin-left: 5vw;
        font-size: 5px;
    }
    .Ci{
        margin-top: 6vh;
        width: 10.7vw;
        height: 5vh;
        margin-left: 51vw;
        font-size: 5px;
    }
    .container{
        margin-top: -55vw;
        height: 25vh;
        font-size: 5px;

    }
    .img5{
        margin-top: -5vh;
    }
    .barra{
        height: 25vh;
        margin-top: -32vw;
    }
    .cuadrito{
        height: 3vw;
        margin-top: 2%1;

    }

}
